.main{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    height: 75vh;
}
.categories{
    position: fixed;
    right: 5%;
    display: flex;
    flex-direction: column;
   background-color: rgb(255, 255, 255);
   padding: 20px 0px 15px 20px;
    width: 20%;
}
.categories_p{
    font-size: 40px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}
.categories_a{
    text-decoration: none;
    color: #007BFF;
    margin-bottom: 20px;
}

.page_num{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3s;
}
.page_num:hover{
    color: red;
}