.blogs{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1% 5% 1% 5%;
    transition: 0.3s;
    border-radius: 10px;
    text-decoration: none;
    color: black;
   
}

.blog{
    position: relative;
    margin-bottom: 13%;
    text-decoration: none;
    color: black;
}



.blogs_img{
   margin-bottom: 5%;
}
.blogs_p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
margin-bottom: 5%;

}
.blogs_p2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 3%;
}
.blogs_p3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 5%;
}
.blog_icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}
.blog_icon{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blog_like{
    border: none;
    background-color: #00a1dc00;
    font-size: 16px;
    transition: 0.3s;
}
.blog_like:hover{
    color: #e70101;
}
.blog_liked{
    border: none;
    background-color: #00a1dc00;
    font-size: 16px;
    color: #e70101;
}
.modal_window{
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 4%;
    padding: 1%;
    background-color: white;
    width:15%;
    
}
.blog_dots{
    position: absolute;
    right: 0%;
    transition: 0.3s;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 15;
}


.modal_window_a{
   
    background-color: #00A2DC;
   padding: 2%;
   text-decoration: none;
   color: white;
   text-align: center;
   transition: 0.3s;

}
.modal_window_button{
    background-color: #e70101;
   padding: 2%;
   text-decoration: none;
   color: white;
   text-align: center;
   border: none;
   transition: 0.3s;
}
.modal_window_a:hover{
    background-color: #0282b1;
}
.modal_window_button:hover{
    background-color: #b30202;
}

.modal_window.active{
    display: flex;
}
.blog_dots:hover{
    color:  #00A2DC;
}


.fieldset select{
    padding: 10px 7px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(114, 114, 114);
}

.blog_comm{
    border: none;
    background-color: #00a1dc00;
    font-size: 15px;
    transition: 0.3s;
}

.comments{
    display: flex;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    width: 95%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 1%;
    border-radius: 5px;
}

.comments h3{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.add-comment-form{
    margin-top: 30px;
}
.add-comment-form textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 2%;
    font-size: 20px;
    padding: 2%;
}
.add-comment-form button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    border-radius: 3px;
    font-size:15px;
    background-color: rgb(63, 188, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
    color: white;
    border: none;
    z-index: 12;
}
.add-comment-form button:hover{
    background-color: #018be7;
    color: rgb(255, 255, 255);
}